.transactions {
  width: 100%;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.3em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  border-collapse: collapse;
}
.thRow {
  font-size: 14px;
  font-weight: 500;
  background-color: aqua;
}
.row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.15);
}
.col {
  padding: 8px 16px;
}
